#source-select ul {
    column-count: 4;
}


#search-menu div {
    padding: 2px;
    width: 400px;
}

#search-menu select {
    width: 50%;
}

.break {
    font-family: monospace;
    font-size: smaller;
    font-variant-position: super;
    color: gray;
}

.dipl {
    font-family: Junicode;
}

.facs {
    font-family: Junicode;
}

/*
.facsPage, .facsPage td, .facsPage table {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-collapse: separate;
}
*/

.textBlock {
    border: solid;
    border-color: lightgray;
    border-radius: 1em;
    padding: 1em;
}

@font-face {
    font-family: Junicode;
    src: url("../fonts/junicode-regular.woff");
}

@font-face {
    font-family: Junicode;
    src: url("../fonts/junicode-italic.woff");
    font-style: italic;
}

@font-face {
    font-family: Junicode;
    src: url("../fonts/junicode-bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: Junicode;
    src: url("../fonts/junicode-bolditalic.woff");
    font-style: italic;
    font-weight: bold;
}