# json source files
json/data/corpus/*.json
json/data/*.json

# json schema
json/schema/*.schema.json
!json/schema/corpus.schema.json
!json/schema/source.schema.json

# xsl files
xml/xsl/*.xsl
!xml/xsl/corpus.xsl
!xml/xsl/source.xsl